#configuration for all scripts
export HADOOP_CLASSPATH=`$FLUO_HOME/bin/fluo classpath -az`
LIB_JARS=`$FLUO_HOME/bin/fluo classpath -azl`
STRESS_JAR=$BIN_DIR/../target/fluo-stress-0.0.1-SNAPSHOT.jar
FLUO_PROPS=$FLUO_HOME/conf/fluo.properties

#configuration for run-test.sh follows
LOG_DIR=$BIN_DIR/../logs
MAX=$((10**9))
SPLITS=17
MAPS=17
REDUCES=17
GEN_INIT=$((10**6))
GEN_INCR=$((10**3))
ITERATIONS=3
SLEEP=30

#config for init-fluo.sh
BUILD=true
